*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Raleway,sans-serif;
    font-weight: 400;
}
.top-pooter{
    width: 100%;
    height: 72px;
    background-color: #00bdbb;
}
.top-rw{
    height: 36px
}
.left-cl{
    margin-left: 40px;
}
.right-cl{
    text-align: right;
    margin-right: 40px;
}
.text-pooter{
    line-height: 36px;
    color: #fff;
    font-size: 13px;
}
.text-pooter:hover{
    text-decoration: none;
    color:#fff;
}
.text-l{
    padding: 5px 5px;
}
.text-r{
    padding-left: 20px;
}
.text-lang{
    padding:2px 2px;
}
.menu-bar{
    margin-top:-36px;
}
.navbar{
    background-color: #fff;
    height: 72px;
}
.navbar-brand{
    padding-left:40px;
}
.navbar-brand img{
    width: 124px;
    height: 26px;
}
.nav-item{
    padding-right: 40px;
}
.nav-link:hover{
    color: #00bdbb;
}
#demo{
    background-color: #fff;
    margin-top: -36px;
    z-index: -1;
}
#demo .carousel-inner img {
    width: 100%;
    height: 490px;
}
/* -------------------------------------TÌM TOUR------------------------------------------------- */
.n3-form-search{
    z-index: initial; 
    position: initial; 
    background: rgb(241, 241, 241);
    height: 85px;
}
.n3-form-search .frame-search {
    margin: 0 auto;
    display: table;
    margin-top: -95px;
}
.col-xs-12 {
    width: 100%;
}
.n3-form-search .o-dl {
    background: #fff;
    padding: 15px;
    width: 150px;
    height: 150px;
    margin: 0 auto;
    display: table;
    text-align: center;
    border: 1px solid #ececec;
    cursor: pointer;
    float: left;
    margin-right: 15px;
    margin-left: 15px;
}
.iconT-i-c1 img{
    background-position: -269px -38px;
    width: 41px;
    height: 42px;
    display: block;
    margin: 0 auto 0;
    margin-bottom: 20px;
}
.n3-form-search .text-1 {
    text-transform: uppercase;
    border-bottom: 1px dashed #4e4b4a;
    padding-bottom: 10px;
    color: #000;
    font-size: 13px;
    margin-bottom: 10px;
}
.n3-form-search .text-2 {
    font-weight: bold;
    font-size: 13px;
    text-transform: uppercase;
    margin-bottom: -22px
}
.n3-form-search .text-dltn {
    color: #015196;
}
.n3-form-search .text-dlnn {
    color: #f0433a;
}
.n3-form-search .text-dltc1 {
    color: #f2a30f;
}
.n3-form-search .text-tttc {
    color: #008c72;
}
.n3-form-search .text-hvtt {
    color: #4834d4;
}
.n3-form-search .dltn:hover {
    border: 1px solid #015196;
}
.n3-form-search .dlnn:hover {
    border: 1px solid #f0433a;
}
.n3-form-search .dltc1:hover {
    border: 1px solid #f2a30f;
}
.n3-form-search .tttc:hover {
    border: 1px solid #008c72;
}
.n3-form-search .hvtt:hover {
    border: 1px solid #4834d4;
}
/* --------------------------TOUR LIST------------------------------ */
.n3-tour-type{
    margin-top: 20px;
    margin-bottom:40px;
    border-bottom: 1px solid #f1f1f1;
}
.n3-tour-type .item-tour-type{
    text-align: center;
}
.n3-tour-type .item-tour-type a{
    text-decoration: none;
    color: black;
}
.n3-tour-type .item-tour-type a:hover{
    text-decoration: none;
    color: red;
}
.tourtype-name{
    margin-top:10px;
    font-weight: bold;
}
.n3-tour-type .carousel-control-prev{
    margin-left:-100px
}
.n3-tour-type .carousel-control-next{
    margin-right: -100px;
}
.n3-tour-type .carousel-control-icon img{
    width: 30px;
    height: auto;
    margin-bottom: 20px;
}
/* ---------------------main----------------------- */
.main-home{
    
    text-align: center;
    padding-bottom:30px;
}
/* ---------------------other----------------------- */
.other-bg{
    padding-top: 30px;
}
.mg-bot30{
    margin-bottom: 30px;
}
.n3-other .frame-other-destination{
    background: #f4f4f4;
}
.n3-other .frame-other-destination img.pic-o-dest {
    width: 100%;
    height: 140px;
    object-fit: cover;
}
.n3-other .other-name a{
    color:#ff002d;
    text-decoration:none;
}
.n3-other .frame-other-destination .list-destination {
    padding: 0px 16px 16px 16px;
}
.n3-other .frame-other-destination .list-destination ul{
    list-style: none;
}
.n3-other .frame-other-destination .list-destination ul li a {
    margin: 5px 0 5px 0!important;
    display: block;
    transition: all linear .15s;
    text-decoration: none;
    color: black;
}
.n3-other .frame-other-destination .list-destination ul li a:hover{
    color:red;
}
.n3-other .frame-other {
    background: #f4f4f4;
    height: 502px;
    position: relative;
}
.n3-other .other-name {
    padding: 15px 0 0 15px ;
    color: #ff002d;
    font-size: 18px;
}
.n3-other .frame-other .list-tour-type {
    padding: 0 15px 0 15px;
}
.f-left {
    float: left;
}
.clear {
    clear: both;
}
.mg-bot15{
    margin-bottom: 15px;
}
.n3-other .frame-other .pic-bg-app {
    position: absolute;
    bottom: 0;
    right: 0;
}
/* ------------pooter----------------- */
.n3-footer img.pic-line {
    display: table;
    margin: 0 auto;
    margin-top: 30px;
}
.mg-bot10{
    margin-bottom: 10px;
}
.mg-bot60{
    margin-bottom: 60px;
}
.n3-footer .ft-title {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 15px;
    margin-bottom: 20px;
    color: #ff002d;
}
.mg-bot5{
    margin-bottom: 5px;
}
.f-left {
    float: left;
}
.n3-footer .ft-mgtop {
    margin-top: 2px;
}
.n3-footer .ft-mg-hl, .n3-footer .ft-mg-ct {
    margin-left: 10px;
}
.clear {
    clear: both;
}
.n3-footer .hl-num {
    font-weight: bold;
    font-size: 18px;
    /* color: #ff4e53;
    margin-bottom: 8px; */
}
.n3-footer .hl-num a{
    color:#ff002d;
    font-weight: bold;
    text-decoration: none;
}
.n3-footer .hl-hour {
    font-size: 13px;
    color: #212121;
}
.icon-fz19{
    font-size: 19px;
}
.icon-fz22{
    font-size: 22px;
}
.icon-fz20{
    font-size: 19px;
}
/* --------------social--------------- */
.bg-bottom, .bg-bottom img, .bg-bottom .pos{
    width: 100%;
}
.bg-bottom .bg-bt{
    width: 100%;
    height: 50px;
    background-color: aqua;
    margin-top: -60px;
}
.bg-bottom .pos{
    font-size: 13px;
    line-height: 16px;
}